binds {
    Mod+R { switch-preset-column-width; }

    Mod+Left  { focus-column-left; }
    Mod+Down { focus-workspace-down; }
    Mod+Up   { focus-workspace-up; }
    Mod+Right { focus-column-right; }

    Mod+H { focus-column-left; }
    Mod+J { focus-workspace-down; }
    Mod+K { focus-workspace-up; }
    Mod+L { focus-column-right; }

    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }
    Mod+Shift+Right { focus-monitor-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+Down { move-window-to-workspace-down; }
    Mod+Ctrl+Up   { move-window-to-workspace-up; }

    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+L     { move-column-right; }
    Mod+Ctrl+J  { move-window-to-workspace-down; }
    Mod+Ctrl+K  { move-window-to-workspace-up; }

    Mod+Ctrl+Shift+H     { move-column-to-monitor-left; }
    Mod+Ctrl+Shift+Left  { move-column-to-monitor-left; }
    Mod+Ctrl+Shift+J     { move-column-to-monitor-down; }
    Mod+Ctrl+Shift+Down  { move-column-to-monitor-down; }
    Mod+Ctrl+Shift+K     { move-column-to-monitor-up; }
    Mod+Ctrl+Shift+Up    { move-column-to-monitor-up; }
    Mod+Ctrl+Shift+L     { move-column-to-monitor-right; }
    Mod+Ctrl+Shift+Right { move-column-to-monitor-right; }
}
