input {
    keyboard {
        xkb {
            layout "us"
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
        accel-speed 0.7
        accel-profile "adaptive"
        scroll-method "two-finger"
        click-method "clickfinger"
        // dwt
        // dwtp
    }
}
