@define-color base #1e1e2e;
@define-color text #cdd6f4;
@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color blue #89b4fa;
@define-color mauve #cba6f7;
@define-color teal #94e2d5;
@define-color sapphire #74c7ec;
@define-color red #f38ba8;
@define-color peach #fab387;

* {
    background-image: none;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 20px;
}

window {
    background-color: alpha(@base, 0.92);
}

button {
    color: @text;
    background-color: @surface0;

    border: 2px solid @surface1;
    border-radius: 16px;

    margin: 12px;
    padding: 24px 32px;

    box-shadow: none;
    text-shadow: none;
}

button:hover,
button:focus {
    background-color: @surface1;
    border-color: @blue;
}

#lock {
    color: @blue;
}

#logout {
    color: @mauve;
}

#suspend {
    color: @teal;
}

#hibernate {
    color: @sapphire;
}

#shutdown {
    color: @red;
}

#reboot {
    color: @peach;
}
